
a {
	color: #fff;
	text-decoration: none;
}

.cover-text {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.cover-text h1 {
	margin: 10px 0 0;
	font-size: 5.5rem;
	letter-spacing: -4px;
	text-shadow: 1px 1px #000;
}

input {
	height: 50px;
	border: none;
	padding-left: 20px;
	width: 300px;
	margin-top: 20px;
}

p {
	margin-top: 10px;
	font-size: 2rem;
	text-shadow: 1px 1px #000;
}

.subscribe-span {
	display: block;
	position: relative;
	top: 5px;
	right: 130px;
	text-shadow: 1px 1px #000;
}

nav {
	height: 60px;
	background-color: #000;
	font-size: 1.5rem;
	position: relative;
	z-index: 9;
}

#logo {
	font-family: "Satisfy", cursive;
	float: left;
	font-size: 3rem;
	margin-left: 50px;
	line-height: 60px;
}

.link {
	float: right;
}

nav a {
	margin-right: 30px;
}

nav a:hover {
	color: #8e8b82;
	text-decoration: none;
}

#logo-art {
	font-size: 3rem;
	font-weight: bold;
	color: #a42a1e;
	padding: 0 1px 0 4px;
}

#logo-art:hover {
	color: #e0e0e0;
}

button {
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	font-size: 1.5rem;
}

button:hover {
	background-color: #cc0404;
}

.shop {
	background-color: #a60000;
	border: none;
	width: 100px;
	height: 60px;
}

.subscribe {
	background-color: #a60000;
	border: none;
	width: 120px;
	height: 54px;
}
